@import 'setup/variables';
@import 'modules/install-prompt';
@import 'modules/material-icons';

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: $colorLight;
  color: $colorPrimary;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.btn {
  border: none;
  background: $colorPrimary;
  border: 1px solid $colorPrimary;
  color: white;
  padding: 10px 15px;
  border-radius: 999px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  &:hover,
  &.loading {
    background: $colorPrimaryLight;
    border-color: $colorPrimaryLight;
  }
  &-sm {
    padding: 6px 10px;
  }
  + .btn {
    margin-left: 4px;
  }
}

.btn-share-all {
  @extend .btn;
  background: white;
  color: $colorPrimary;
  border: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover,
  &.loading {
    background: white;
    color: $colorPrimary;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.btn-group {
  button:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
  }
  button:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  button:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
  }
  button:not(:first-child) {
    border-left-color: rgba(0,0,0,0.2) !important;
  }
  button + button {
    margin-left: 0 !important;
  }
}

#app {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 40px;
  > header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .slogan {
      opacity: 0.8;
    }
  }
  > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-export {
      @extend .btn;
      box-shadow: 0 2px 3px #ccc;
    }
    .btn-reset {
      border: none;
      background: transparent;
      color: $colorPrimary;
      display: inline-flex;
      align-items: center;
      gap: 2px;
      margin-top: 10px;
      padding: 10px;
      cursor: pointer;
      color: rgba($color: $colorPrimary, $alpha: 0.5);
      &:hover {
        color: rgba($color: $colorPrimary, $alpha: 0.7);
      }
    }
  }
}

.toolbar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $colorLight;
  padding-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0 0 8px 8px;
  .toolbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 10px;
    background: $colorGray;
    border-radius: 8px;
    .menu-group {
      flex-shrink: 0;
      padding: 8px 10px;
      + .menu-group {
        border-left: 1px solid rgba($color: white, $alpha: 0.3);
      }
      .menu-item {
        font-size: 12px;
        border: none;
        background: none;
        color: white;
        height: 24px;
        padding-left: 4px;
        padding-right: 4px;
        display: inline-flex;
        align-items: center;
        + .menu-item {
          margin-left: 2px;
        }
        &:hover:not(:disabled),
        &.active {
          background: $colorPrimary;
          border-radius: 4px;
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

.bubble-menu {
  display: flex;
  background-color: #0D0D0D;
  padding: 4px 2px 2px 2px;
  border-radius: 4px;
  button {
    border: none;
    background: none;
    color: #FFF;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;
    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.editor-container,
.preview-result {
  padding: 20px;
  background: $colorLight;
  footer {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    line-height: 15px;
    display: none;
  }
  .editor-frame {
    position: relative;
    img.frame-corner {
      width: 10px;
      position: absolute;
      background: $colorLight;
      z-index: 1;
      &:first-child {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: 0;
        right: 0;
        transform: scaleX(-1);
      }
      &:nth-child(3) {
        bottom: 0;
        left: 0;
        transform: scaleY(-1);
      }
      &:nth-child(4) {
        bottom: 0;
        right: 0;
        transform: scale(-1, -1)
      }
    }
  }
}

.ProseMirror,
.preview-item {
  padding: 15px;
  border: 1px solid $colorGray;

  &.with-paging {
    padding-bottom: 24px;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ccc;
    pointer-events: none;
    height: 0;
  }

  > * + * {
    margin-top: 0;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ol {
    padding: 0;
    list-style-position: inside;
    counter-reset: li;
    li {
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 5px;
      counter-increment: li;
      &::before {
        content: counter(li) '.';
      }
    }
  }

  /* Temporary solution */
  @for $i from 2 through 1000 {
    ol[start="#{$i}"] {
      counter-reset: li $i - 1;
    }
  }

  blockquote {
    padding-left: 32px;
    position: relative;
    &::before {
      @extend .material-icons;
      content: 'format_quote';
      position: absolute;
      font-size: 35px;
      left: -5px;
      top: -7px;
      opacity: 0.3;
      transform: scaleX(-1);
    }
  }

  .text-arabic {
    font-family: 'ZekrQuran';
    font-size: 18px;
    line-height: 30px;
  }

  hr {
    height: 15px;
    background: transparent;
    border: 1px dashed $colorPrimary;
    margin: 20px 0;
    position: relative;
    &::after {
      content: 'HALAMAN BARU';
      font-size: 10px;
      position: absolute;
      left: 50%;
      top: 1px;
      transform: translateX(-50%);
      letter-spacing: 1px;
    }
  }
}

.preview-loading {
  z-index: 999;
  position: fixed;
  background: $colorLight;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .message {
    margin-top: 10px;
    text-align: center;
  }
}

.preview {
  &.with-share-all {
    padding-bottom: 50px;
  }
  &-header {
    background: $colorGray;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: white;
    &--title {
      display: flex;
      align-items: center;
      .btn-back {
        background: white;
        border: none;
        color: $colorGray;
        margin-right: 10px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          color: $colorPrimary
        }
      }
    }
    &--filename-wrap {
      display: flex;
      align-items: center;
      background: $colorPrimary;
      border-radius: 999px;
      overflow: hidden;
      label {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 4px;
        flex-shrink: 0;
      }
      input {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 4px 12px 4px 8px;
        color: $colorPrimary;
      }
    }
  }
  &-result {
    padding: 0;
    &-item-container {
      .download-container {
        display: flex;
        justify-content: center;
        margin-top: -10px;
      }
    }
    &-item {
      padding: 20px;
      background: $colorLight;
    }
  }
  &-paging {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: white;
    background: $colorPrimary;
    font-size: 10px;
    padding: 2px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
